<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'TASK.'+type | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">{{ 'TASK.close' | translate }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-div">
    <ion-list>
      <ion-item>
        <ion-label position="floating">{{ 'TASK.name' | translate }}</ion-label>
        <ion-input [(ngModel)]="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">{{ 'TASK.category' | translate }}</ion-label>
        <ion-select [(ngModel)]="category_id" cancelText="{{ 'TASK.select_category_cancel' | translate }}" okText="{{ 'TASK.select_category_ok' | translate }}">
          <ion-select-option *ngFor="let category of dbService.CATEGORIES" value="{{ category.id }}">{{ category.name }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button expand="full" fill="outline" (click)="save()">{{ 'TASK.save' | translate }}</ion-button>
    </ion-list>
  </div>

</ion-content>
