<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="selectSegment">
      <ion-segment-button value="tasks">
        <ion-label>{{ 'TAB2.tasks' | translate }}</ion-label>
      </ion-segment-button>
      <ion-segment-button value="categories">
        <ion-label>{{ 'TAB2.categories' | translate }}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-fab vertical="top" horizontal="start" edge slot="fixed" *ngIf="selectSegment == 'tasks'" (click)="add()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="top" horizontal="end" edge slot="fixed" *ngIf="selectSegment == 'categories'" (click)="add()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  <div [ngSwitch]="selectSegment" class="content-div">
    <ion-list *ngSwitchCase="'tasks'">
      <div *ngIf="dbService.TASKS && dbService.TASKS.length > 0">
        <ion-item *ngFor="let task of dbService.TASKS">
          <ion-icon slot="start" name="{{ task.category_icon }}"></ion-icon>
          <ion-label (click)="editTask(task)">
            <h2><strong>{{ task.name }}</strong></h2>
            <p>{{ task.number_trackings}} {{ 'TAB2.trackings_text' | translate }}
              <ion-chip color="success">
                <ion-label>{{ task.category_name ? task.category_name : '-' }}</ion-label>
              </ion-chip>
            </p>
          </ion-label>
          <ion-icon color="danger" slot="end" name="trash" (click)="removeTask(task.id, task.category_id)"></ion-icon>
        </ion-item>
      </div>
      <div *ngIf="dbService.TASKS && dbService.TASKS.length <= 0">
        <ion-item>
          <ion-label>{{ 'TAB2.no_tasks' | translate }}</ion-label>
        </ion-item>
      </div>
    </ion-list>

    <ion-list *ngSwitchCase="'categories'">
      <div *ngIf="dbService.CATEGORIES && dbService.CATEGORIES.length > 0">
        <ion-item *ngFor="let category of dbService.CATEGORIES">
          <ion-icon slot="start" name="{{ category.icon }}"></ion-icon>
          <ion-label (click)="editCategory(category)">
            <h2><strong>{{ category.name }}</strong></h2>
            <p>{{ category.number_tasks }} {{ 'TAB2.tasks_text' | translate }}</p>
          </ion-label>
          <ion-icon color="danger" slot="end" name="trash" (click)="removeCategory(category.id)"></ion-icon>
        </ion-item>
      </div>
      <div *ngIf="dbService.CATEGORIES && dbService.CATEGORIES.length <= 0">
        <ion-item>
          <ion-label>{{ 'TAB2.no_categories' | translate }}</ion-label>
        </ion-item>
      </div>
    </ion-list>
  </div>

</ion-content>
